@import 'variables';

@page {
  /* Change margins and paper size of PDF */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/@page */
  size: letter;
  margin: 0.5in 0.8in;
}

@media print {
  body {
    margin: 0;
    padding: 0;
    background: none;
  }

  .article-resume {
    margin: 0;
    padding: 0;
    background: none;
  }
}

.article-resume {
  max-width: 748px;
  font-size: 16px;
  margin: 40px auto;
  padding: 0 10px;

  a, a:link, a:visited {
    color: $body-color;
    text-decoration: none;
  }

  a:hover {
    color: darken($body-color, 20%);
    text-decoration: underline;
  }

  h1,h2,h3 {
    line-height: 1.2;
  }

  h1#fullname {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: normal;
  }

  h2#jobtitle {
    margin-top: 0;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  #contact-container {
    display: grid;
    grid-template-columns: auto 24% 18%;
    grid-auto-flow: column;
    align-items: start;
    justify-items: stretch;
    padding-bottom: 6px;
    border-bottom: 1px solid;
  }

  .contact-list {
    padding-left: 10px;
    .fa {
      width: 18px;
      text-align: center;
    }
    ul {
      padding-inline-start: 0;
      margin: 0;
      li {
        list-style: none;
      }
    }
  }

  h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid;
  }

  h3 {
    padding-top: 6px;
  }

  table {
    margin-top: -18px;
    margin-bottom: 12px;
  }

  table, thead, tr, th, td {
    background-color: $gray;
    border: none;
  }

  td {
    font-size: 16px;
    font-weight: 500;
    padding-left: 28px;
  }
}
